{
  "printWidth": 100,
  "singleQuote": true,
  "arrowParens": "avoid",
  "endOfLine": "auto",
  "importOrder": ["^@/(.*)"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
