*
  padding: 0
  margin: 0
  box-sizing: border-box
  outline: none

main
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

input, select
  min-width: 285px

input, select, button
  border-style: solid
